body
{
	font-family: Calibri;
	font-size: 18px;
	color: darkblue;
	text-align: center;
}

.naglowek {
	font-size: 28px;
	font-weight: bold;
}

.blok {
	width: 600px;
	height: 200px;
	overflow: auto;
	text-align: justify;
	margin: 20px auto;
	border: 1px solid black;
	background-color: transparent;
}

a,
a:visited
a:hover
a:active {
	color:darkblue;
	text-decoration: none;
}

table {
	margin-left: 55%;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 5px;
}

.kolor {
	color: red;
}

ul {
	list-style-type: circle;
}